<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <nz-space [nzSize]="30" [nzDirection]="'vertical'" style="width: 100%;">
      <nz-space-item>
        <div class="top">
          <div class="head">
            <img class="logo" src="./assets/images/pegasi-med.png" />
          </div>
        </div>
      </nz-space-item>
      <nz-space-item>
        <router-outlet></router-outlet>
      </nz-space-item>
    </nz-space>
  </div>
</div>
