<nz-card class="login-main">
  <p nz-typography class="text-xs-center">Ingrese su usuario y contraseña para iniciar sesión.</p>
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form" class="pa-3">
    <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter mobile number, muse be: admin or user">
        <nz-input-group nzSize="large" nzPrefixIcon="user">
          <input nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Password">
        <nz-input-group nzSize="large" nzPrefixIcon="lock">
          <input nz-input type="password" formControlName="password" placeholder="password: ng-alain.com" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-col [nzSpan]="24" class="text-right">
        <a class="forgot">{{ 'app.login.forgot-password' | translate }}</a>
      </nz-col>
    </nz-form-item>
    <nz-form-item>
      <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock>
        {{ 'app.login.login' | translate }}
      </button>
    </nz-form-item>
  </form>
</nz-card>
