@import '~@delon/theme/index';

.login-main {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1rem 3rem rgba(77, 84, 124, 0.33) !important;
}

@media (max-width: @screen-xs) {
  .login-main {
    padding: 10px;
  }
}
