<nz-table
  #basicTable
  [nzData]="data"
  [nzPageSize]="limit"
  [nzTotal]="total"
  [nzLoading]="loading"
  [nzScroll]="{ x: '1100px', y: 'calc(100vh - 320px)' }"
  [nzSize]="'small'"
  nzShowPagination
  nzShowSizeChanger
>
  <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [(nzSortOrder)]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name }}
      </th>
      <th nzRight class="text-xs-center" *ngIf="actions.length > 0" [nzWidth]="'140px'">
        Acciones
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td *ngFor="let column of columns">{{ renderColumn(data, column) }}</td>
      <td nzRight class="text-xs-center">
        <nz-space *ngFor="let action of actions">
          <nz-space-item *ngIf="action.type === 'dropdown'">
            <nz-button-group>
              <button nz-button nzType="primary" (click)="action.action(data)">{{ action.title }}</button>
              <button nz-button nz-dropdown nzType="primary" [nzDropdownMenu]="items" nzPlacement="bottomRight">
                <i nz-icon nzType="ellipsis"></i>
              </button>
              <nz-dropdown-menu #items="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item *ngFor="let item of action.items" (click)="item.action(data)">{{ item.title }}</li>
                </ul>
              </nz-dropdown-menu>
            </nz-button-group>
          </nz-space-item>
        </nz-space>
      </td>
    </tr>
  </tbody>
</nz-table>
