/* You can add global styles to this file, and also import other style files */
@import './utils';

.ant-table-pagination.ant-pagination {
  margin: 16px !important;
}

.ant-drawer-content-wrapper {
  @media only screen and (max-width: 959px) {
    width: 100% !important;
  }
}
