<page-header [action]="action">
  <ng-template #action>
    <div nz-row [nzGutter]="8">
      <div nz-col nzXs="16">
        <nz-input-group [nzPrefix]="suffixIconSearch" style="width: 100%;">
          <input type="text" nz-input placeholder="Buscar por nombre o identificacion" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
      <div nz-col nzXs="8">
        <button nz-button nzType="primary" (click)="visibleDrawe(true)">{{ 'patient.createPatient' | translate }}</button>
      </div>
    </div>
  </ng-template>
</page-header>

<app-patient-list [loading]="loading" [patients]="patients"> </app-patient-list>
<app-create-patient
  [show]="show"
  (closeDrawer)="visibleDrawe($event)"
  [civilStatus]="civilStatus"
  [identificationTypes]="identificationTypesOrigin"
  [genders]="genders"
>
</app-create-patient>
