<nz-drawer
  [nzBodyStyle]="{ height: '50%', overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="show"
  nzTitle="Create Patient"
  (nzOnClose)="close(false)"
>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div class="card-container">
      <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzTabBarExtraContent]="extraTemplate">
        <nz-tab nzTitle="Personal Data">
          <div nz-row [nzGutter]="8">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzOffset]="10">
              <nz-upload
                nzListType="picture-card"
                [(nzFileList)]="fileList"
                [nzShowButton]="fileList.length < 1"
                [nzPreview]="handlePreview"
                [nzCustomRequest]="customRequest"
              >
                <i nz-icon nzType="plus"></i>
                <div class="ant-upload-text">Photo</div>
              </nz-upload>
              <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
                <ng-template #modalContent>
                  <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                </ng-template>
              </nz-modal>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzRequired nzFor="patient_record_number">Medical history number </nz-form-label>
                <nz-form-control [nzSpan]="24" nzErrorTip="The input is required!">
                  <input nz-input formControlName="patient_record_number" id="patient_record_number" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="24" nzFor="patient_name">Name</nz-form-label>
                <nz-form-control [nzSpan]="24" nzErrorTip="The input is required!">
                  <input nz-input formControlName="patient_name" placeholder="Enter the names" id="patient_name" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="24" nzFor="patient_lastname">Last Name</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input formControlName="patient_lastname" id="patient_lastname" placeholder="Enter last name" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="24" nzFor="patient_identification_type">Identification type </nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    formControlName="patient_identification_type"
                    id="patient_identification_type"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Identification type"
                    [(ngModel)]="selectedValue"
                  >
                    <nz-option
                      *ngFor="let identification of identificationTypes"
                      [nzValue]="identification._id"
                      [nzLabel]="identification.text"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="24" nzFor="patient_identification">Identification</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input
                    nz-input
                    formControlName="patient_identification"
                    id="patient_identification"
                    placeholder="Enter the national ID"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_fiscal_identification">Identification Fiscal</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input
                    nz-input
                    formControlName="patient_fiscal_identification"
                    id="patient_fiscal_identification"
                    placeholder="Enter Identification FiscalD"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzRequired>Birthdate</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-date-picker formControlName="patient_birthdate" id="patient_birthdate" style="width: 100%;"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_country_birth"> Place of birth</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Place of birth"
                    [(ngModel)]="selectedValue"
                    formControlName="patient_country_birth"
                    id="patient_country_birth"
                  >
                    <nz-option *ngFor="let o of countries" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_nationality"> Nationality</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    formControlName="patient_nationality"
                    id="patient_nationality"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Nationality"
                    [(ngModel)]="selectedValue"
                  >
                    <nz-option *ngFor="let o of countries" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_date_deceased_boolean">Passed away?</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-switch [(ngModel)]="dateDeathBoolean" [ngModelOptions]="{ standalone: true }"></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div *ngIf="dateDeathBoolean" nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="24" nzFor="patient_date_deceased">Date Deceased</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-date-picker formControlName="patient_date_deceased" style="width: 100%;" id="patient_date_deceased"> </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div *ngIf="dateDeathBoolean" nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="24" nzFor="patient_country_deceased">Place Death</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    formControlName="patient_country_deceased"
                    id="patient_country_deceased"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Place Death"
                    [(ngModel)]="selectedValue"
                  >
                    <nz-option *ngFor="let o of countries" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="24" nzFor="patient_gender"> Gender</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    formControlName="patient_gender"
                    id="patient_gender"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select gender"
                    [(ngModel)]="selectedValue"
                  >
                    <nz-option *ngFor="let o of genders" [nzLabel]="o.text" [nzValue]="o._id"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_civil_status"> Marital status</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    formControlName="patient_civil_status"
                    id="patient_civil_status"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Marital status"
                    [(ngModel)]="selectedValue"
                  >
                    <nz-option *ngFor="let status of civilStatus" [nzValue]="status._id" [nzLabel]="status.text"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_insurance"> Insurance company</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    formControlName="patient_insurance"
                    id="patient_insurance"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Patient Insurance"
                    [(ngModel)]="selectedValue"
                  >
                    <nz-option *ngFor="let o of customerOrganizations" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_payer_type"> Payer type</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    formControlName="patient_payer_type"
                    id="patient_payer_type"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Payer type"
                    [(ngModel)]="selectedValue"
                  >
                    <nz-option *ngFor="let o of payerTypes" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_profession"> Profession</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    formControlName="patient_profession"
                    id="patient_profession"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Profession"
                    [(ngModel)]="selectedValue"
                  >
                    <nz-option *ngFor="let o of profession" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="24" nzFor="patient_country_residence"> Country Residence </nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    formControlName="patient_country_residence"
                    id="patient_country_residence"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Country"
                    [(ngModel)]="selectedValue"
                  >
                    <nz-option *ngFor="let o of countries" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_referred"> Referred</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input formControlName="patient_referred" id="patient_referred" placeholder="Enter the names of the referred" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_main"> Main Practitioner</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    formControlName="patient_main"
                    id="patient_main"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Main Practitioner"
                    [(ngModel)]="selectedValue"
                  >
                    <nz-option *ngFor="let o of mainPractitioner" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_email"> Email</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input formControlName="patient_email" id="patient_email" placeholder="Enter email" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_home_phone"> Home phone</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input formControlName="patient_home_phone" id="patient_home_phone" placeholder="Enter Home phone" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_cellphone"> Cellphone</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input formControlName="patient_cellphone" id="patient_cellphone" placeholder="Enter Cellphone" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_work_phone">Work phone</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input formControlName="patient_work_phone" id="patient_work_phone" placeholder="Enter Work phone" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_dominance">Dominance</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    formControlName="patient_dominance"
                    id="patient_dominance"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Dominance"
                    [(ngModel)]="selectedValue"
                  >
                    <nz-option *ngFor="let o of dominance" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_language">Language</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select
                    formControlName="patient_language"
                    id="patient_language"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Select Language"
                    [(ngModel)]="selectedValue"
                  >
                    <nz-option *ngFor="let o of language" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_address">Address</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input formControlName="patient_address" id="patient_address" placeholder="Enter Address" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_postal_code">Postal Code</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input formControlName="patient_postal_code" id="patient_postal_code" placeholder="Enter Postal Code" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="patient_note"> Note</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <textarea rows="4" nz-input formControlName="patient_note" id="patient_note" placeholder="Enter Note"> </textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </form>
</nz-drawer>

<ng-template #extraTemplate>
  <nz-affix [nzOffsetTop]="offsetTop">
    <button nz-button nzType="primary">
      <span>Save</span>
    </button>
  </nz-affix>
</ng-template>
